<% include('../../../common/begin') %>
<% include('../../../common/header') %>
<div class="wd640" id="setAct">
    <% if (!_isWeixin) { %>
    <header>
        <div class="header clearfix">
            <a href="javascript:historyBack()" class="sc-prev">&nbsp;</a>
            银行账户
        </div>
    </header>
    <% } %>
    <a href="javascript:void(0)" class="esy-example">填写示例</a>
    <dl class="editLine">
        <dd>
            <div class="dbox">
                <span class="grey">开户人姓名：</span>
                <div class="editS">
                    <input type="hidden" value="BANK" id="js_acct_type"/>
                    <input type="text" value="<%=account.accountName%>" placeholder="请输入开户人姓名" maxlength="20" name="" id="js_acct_name" />
                </div>
            </div>
        </dd>
        <dd>
            <div class="dbox">
                <span class="grey">开户银行：</span>
                <div class="editS"><input type="text" value="<%=account.bankName%>" placeholder="请输入开户行名称" name="" maxlength="20" id="js_bank_name" /></div>
            </div>
        </dd>
        <dd>
            <div class="dbox">
                <span class="grey">开户网点：</span>
                <div class="editS"><input type="text" value="<%=account.bankSite%>" placeholder="请输入开户网点" name="" maxlength="100" id="js_bank_site" /></div>
            </div>
        </dd>
        <dd>
            <div class="dbox">
                <span class="grey">银行卡号：</span>
                <div class="editS"><input type="text" value="<%=account.accountNo%>" placeholder="请输入银行卡号" name="" maxlength="30" id="js_acct_no" /></div>
            </div>
        </dd>
    </dl>
    <div class="p15"><a href="javascript:void(0)" class="btnL" id="js_submit_btn">保存修改</a></div>
</div>

<!--填写示范-->
<div class="wd640" id="esyDiv4">
    <% if (!_isWeixin) { %>
    <header>
        <div class="header clearfix">
            <a href="javascript:void(0)" class="sc-prev" id="back3">&nbsp;</a>
            填写示范
        </div>
    </header>
    <% } %>
    <div class="idLine2">
        <h2 class="h2"><span class="titLine"></span>银行账户</h2>
        <dl class="editLine">
            <dd>
                <div class="dbox">
                    <span class="grey">开户人姓名：</span>
                    <div class="editS">黄涵杰</div>
                </div>
            </dd>
            <dd>
                <div class="dbox">
                    <span class="grey">开户银行：</span>
                    <div class="editS">中国建设银行</div>
                </div>
            </dd>
            <dd>
                <div class="dbox">
                    <span class="grey">开户网点：</span>
                    <div class="editS">中国建设银行杭州翠苑分理处</div>
                </div>
            </dd>
            <dd>
                <div class="dbox">
                    <span class="grey">银行卡号：</span>
                    <div class="editS">6217 0098 6789 0987 765</div>
                </div>
            </dd>
        </dl>
    </div>
</div>

<% include('../../../common/footer_simple') %>
<script type="text/javascript" src="js/lib/jquery.ba-hashchange.js"></script>
<script type="text/javascript" src="js/shop.popup.js"></script>
<script type="text/javascript" src="js/shop.common.js"></script>
<script type="text/javascript" src="js/shop.account.js"></script>
<script type="text/javascript">
    $(function(){
        ShopAccount.init4Acct();

        function __onHashChange() {
            var hash = window.location.hash;
            var $hash = $(hash);

            $(".wd640").hide();
            if ($hash.length) {
                $("#esyDiv4").show();
                setWindowTitle('填写示例');
            } else {
                $("#setAct").show();
                setWindowTitle('银行账户');
            }
        }

        $(window).on('hashchange', __onHashChange);
        __onHashChange();
    });


</script>
<% include('../../../common/end') %>