<% include('../common/begin') %>
<% include('../common/header') %>

<%
var productOriginIds = topicOrigin.productOriginIds.join(',');
%>

<!--content-->
<div id="content" style="background:<%=#topicOrigin.bgColor%>">
	<div class="banner"><img src="<%=#imageUrlCrop(topicOrigin.imageUrl,1920,350)%>"/></div>
	<div class="wd1090">
		<%
		for (var i = 0; i < productClassList.length; ++i) {
			var productClass = productClassList[i], productsForClass = products['class_' + productClass.id].pageData;
			if (!productsForClass || !productsForClass.length) continue;
		%>
		<div class="section">
			<%if(productsForClass.length >= 12){%><a href="search.html?originId=<%=#productOriginIds%>&classId=<%=#productClass.id%>" target="_blank" class="fr black sectMore">更多商品&gt;</a><%}%>
			<h3><img src="images/tit-ico1.png"><%=productClass.name%></h3>
			<ul class="searchList clearfix">
		<%
			for (var j = 0; j < productsForClass.length; ++j) {
				var product = productsForClass[j];
		%>
				<li>
					<%=#product_util.renderProductTag(product)%>
					<a href="product-<%=#product.skuId%>.html" target="_blank" class="picImg">
						<img data-original="<%=#imageUrl(product.imageUrl,210,210)%>" src="images/blank.gif" class="lazy" title="<%=product.skuName%>"/>
						<%=#product_util.renderProductSaleStatus(product)%>
					</a>
					<div class="new-intro">
						<p class="gbie grey"><span class="red fr"><%=#product.isFreeShipping?'包邮':''%><%=#product.isFreeTax?'免税':''%></span><%=#product_util.renderProductOriginLogo(product,24,24)%><%=product.productOriginName%>&nbsp;<%=product.freightMethodName%></p>
						<p class="imgtit"><a href="product-<%=#product.skuId%>.html" target="_blank" class="black"><%=product.skuName%></a></p>
						<p class="schActive">
						<%
						if (product.activityType === 'ORDER_PROMOTION') {
						%>
							<span class="yel"><i class="favour"><%=#product_util.getOrderPromotionLabelShort(product.activityLabel)%></i><%=#product.activityLabel%></span>
						<%
						}
						%>
						</p>
						<p class="ptop15"><del class="fr light-grey">¥<%=#formatMoney(product.marketPrice)%></del><span class="red">¥<i class="f20"><%=#formatMoney(product.promotionPrice || product.salePrice)%></i></span><%if(product.activityType === 'FLASH_SALE' || product.activityType === 'PRODUCT_PROMOTION'){%><span class="favourico small"><i><%=#product.activityLabel%></i></span><%}%></p>
					</div>
				</li>
		<%
			}
		%>
			</ul>
		</div>
		<%
		}
		%>
	</div>
</div>

<% include('../common/footer') %>
<script type="text/javascript" src="js/lib/jquery.lazyload.js"></script>
<% include('../common/end') %>