<% include('../../common/begin') %>
<% include('../../common/header') %>

<div class="wd640">

	<!-- 页头 -->
	<header>
		<div class="header clearfix">
			<a href="javascript:historyBack()" class="sc-prev">&nbsp;</a>
			<span id="js_list_title">下级会员</span>
			<span id="js_search_title" style="display:none">按条件搜索</span>
			<a href="javascript:;" class="topsearch" id="js_search_init"></a>
		</div>
	</header>

	<!-- 查询面板 -->
	<div id="js_search_page" style="display:none">
		<dl class="editLine tleft">
			<dd>
				<div class="dbox">
					<span class="grey">用户名</span>
					<div class="editS"><input type="text" value="" placeholder="请输入想查找的会员的用户名" name="" id="js_search_login"/></div>
				</div>
			</dd>
			<dd>
				<div class="dbox">
					<span class="grey">姓名</span>
					<div class="editS"><input type="text" value="" placeholder="请输入想查找的会员的真实姓名" name="" id="js_search_name"/></div>
				</div>
			</dd>
			<dd>
				<div class="dbox">
					<span class="grey">手机号</span>
					<div class="editS"><input type="text" value="" placeholder="请输入想查找的会员的手机号" name="" id="js_search_mobile"/></div>
				</div>
			</dd>
		</dl>
		<div class="p15"><a href="javascript:void(0)" class="btnL" id="js_search_btn">搜索</a></div>
	</div>

	<!-- 搜索内容面板 -->
	<div class="bg_white" id="js_list_page">
		<div class="ymChoose clearfix">
			<span class="mbdt">注册时间</span>
			<input type="hidden" value="4" name="" id="js_select_item">
			<div class="infcon" id="timeRangeBtn"><span id="chtmlIn">全部</span><i class="u-rtarr"></i></div>
		</div>
		<!-- 搜索条件显示 -->
		<div class="searchCondt" style="display:none" id="js_search_wrapper">
			<a href="javascript:void(0);" class="clearAll" id="js_search_clear">清空</a>
			<div id="js_search_tag"></div>
		</div>

		<!-- 内容列表 -->
		<ul class="odlist lwd30" id="js_item_wrapper">
		</ul>

		<!-- 无内容显示时提示 -->
		<div id="win-middle" class="win-middle" style="display: none;">
			<span class="noIco4"></span>
			<p class="f16">您还没有下级会员哦~</p>
			<p class="f12 light-grey">快去发展自己的会员吧！</p>
			<a href="member-promote.html" class="goShopping">我的推广码</a>
		</div>

		<!-- 无搜索内容显示时提示 -->
		<div id="win-middle-2" class="win-middle" style="display: none;">
			<span class="noIco4"></span>
			<p class="f16 light-grey">没有搜索到符合要求的会员</p>
		</div>
	</div>

</div>
<!-- 搜索内容条模板 -->
<script type="application/x-template" id="js_item_template">
	<li>
		<a href="member-promoter-member_orders.html?memberId={{ item.id }}">
			<div class="odclear clearfix">
				<div class="odLleft">{{ item.login }}<br/>{{ item.name }}</div>
				<dl class="odLright">
					<dd><span class="grey">联系电话：</span>{{ ShopUtil.maskMobile(item.mobile) }}</dd>
					<dd><span class="grey">成交订单：</span>{{ item.orderCount }}</dd>
					<dd><span class="grey">消费总额：</span>¥{{ ShopUtil.formatMoney(item.expenditure) }}</dd>
					<dd><span class="grey">贡献佣金：</span>¥{{ ShopUtil.formatMoney(item.contribution) }}</dd>
					<dd><span class="grey">注册时间：</span>{{#ShopUtil.formatDate(item.createDate, 'yyyy-MM-dd')}}</dd>
				</dl>
				<i class="u-rtarrL fr"></i>
			</div>
		</a>
	</li>
</script>
<% include('../../common/footer_simple') %>
<% include('./promoter_footer') %>
<script type="text/javascript">
	$(function() {

		ShopUtil.initTemplateHelper();
		var $wrapper = $('#js_item_wrapper');
		var $noOrder = $('#win-middle');
		var $noOrder2 = $('#win-middle-2');
		var orderTmpl = ShopUtil.getTemplateById('js_item_template');

		ShopScroll.init({
			dataWrapper: $wrapper,
			method:'POST',
			url:'/member/promoter/member/search',
			getParams: function() {
				var param = SearchUtil.getKeys($('#js_search_wrapper'));
				return $.extend({pageSize: 8, timeRange : ShopUtil.getFinishTimeRange($('#js_select_item').val())}, param);
			},
			afterLoad: function() {
				$(".odlist").trigger('change');
			},
			beforeAppendData: function() {
				$noOrder.hide();
				$noOrder2.hide();
			},
			afterAppendData:function() {

			},
			onDataEnd: function() {
				$wrapper.append('<li><p class="nomore">已显示全部内容</p></li>');
			},
			onDataEmpty: function() {

				if ($.isEmptyObject(SearchUtil.getKeys($('#js_search_wrapper')))) {
					$noOrder.show();
					$wrapper.html('');
				} else {
					$noOrder2.show();
					$wrapper.html('');
				}
			},
			renderItem: function(item) {
				return orderTmpl({
					item: item,
					ShopUtil: ShopUtil
				});
			},
			fail: function() {}
		});

		SearchUtil.init({
			/*  */
			listTitle		: $('#js_list_title'),
			list			: $('#js_list_page'),
			clearAll		: $('#js_search_clear'),
			searchView		: $('#js_search_init'),
			searchBtn		: $('#js_search_btn'),
			searchOpt		: { name:'#js_search_name', login: '#js_search_login', mobile: '#js_search_mobile'},
			query			: $('#js_search_page'),
			searchTitle		: $('#js_search_title'),
			searchWrapper	: $('#js_search_tag')
		});


		var selectData = [
			{id: '0', text: '近一周'},
			{id: '1', text: '近一个月'},
			{id: '2', text: '近三个月'},
			{id: '3', text: '近半年'},
			{id: '4', text: '全部'}
		];
		ShopSelect.select(
				selectData,
				$('#timeRangeBtn'),
				'4', /* 全部 */
				function($ele) {
					var $a = $('a', $ele);
					var value = $a.data('value'), text = $a.text();
					$('#chtmlIn').text(text);
					$('#js_select_item').val(value);
					ShopScroll.reload();
				}
		);
	});
</script>
<% include('../../common/end') %>
