<% include('../common/begin') %>
<link rel="stylesheet" href="css/login.css" type="text/css"/>
<% include('../common/header_passport') %>

<!--content-->
<div id="loginCon" style="background-image:url(<%=#adsSetting&&adsSetting.imageUrl?imageUrl(adsSetting.imageUrl):staticImgWeb('login_bg.jpg')%>)">
	<div class="wd1090 clearfix pre">
		<% if (adsSetting && adsSetting.linkUrl) { %>
		<a href="<%=#encodeURI(adsSetting.linkUrl)%>" target="_blank" class="lgAd">&nbsp;</a>
		<% } %>
		<div id="js_register_box" class="loginBox registerBox">
			<div><span class="fr light-grey f12">已有会员账号？ <a href="passport-login.html" class="red">直接登录</a></span><h3 class="f18">快速注册</h3></div>
			<dl class="lgDl" id="regBox">
				<dd>
					<input type="text" value="" name="" id="bdPhone" class="lgipt" placeholder="请输入手机号"/>
					<p class="lg-error"></p>
					<p class="lg-warn"></p>
					<p class="lg-info"></p>
				</dd>
				<dd>
					<input type="text" value="" name="" id="bdVcode" class="lgipt wd180" autocomplete="off" placeholder="请输入短信验证码"/><a href="javascript:void(0)" class="send" onclick="sendYzm('signup')" id="btnSendYzm">发送验证码</a>
					<p class="lg-error"></p>
					<p class="lg-warn"></p>
					<p class="lg-info"></p>
				</dd>
				<dd>
					<input class="showPwd lgipt bdPassw" type="text" value="请输入密码, 6到16位字符, 区分大小写"/>
					<input id="bdPassw" class="pwd lgipt bdPassw" name="password" type="password" maxlength="16" value="" style="display:none"/>
					<p class="lg-error"></p>
					<p class="lg-warn"></p>
					<p class="lg-info"></p>
				</dd>
				<dd>
					<input class="showPwd lgipt bdRepeat" type="text" value="请再次输入密码"/>
					<input id="bdRepeat" class="pwd lgipt bdRepeat" name="password" type="password" maxlength="16" value="" style="display:none"/>
					<p class="lg-error"></p>
					<p class="lg-warn"></p>
					<p class="lg-info"></p>
				</dd>
				<dd>
					<input type="hidden" id="captchaKey" name="captchaKey" value="<%=#captcha.captchaKey%>"/>
					<input type="text" value="" name="" id="bdyzm" class="lgipt wd130" placeholder="验证码"/><span class="imgyzm"><img src="/passport/captcha/image/<%=#captcha.captchaKey%>?r=<%=#timestamp()%>" alt="验证码"/></span><a href="javascript:void(0)" class="regchange" onclick="refreshCaptcha()"></a>
					<p class="lg-error"></p>
					<p class="lg-warn"></p>
					<p class="lg-info"></p>
				</dd>
				<dd class="p0"><input type="submit" value="同意协议并注册" id="js_register_btn" name="" class="lgSub" /></dd>
				<dd class="f12"><input type="checkbox" checked="checked" value="" name="" id="js_register_agree" class="vertical"/>本人已阅读、理解并同意本站的<a href="help-501.html" target="_blank" class="red">会员注册协议</a></dd>
			</dl>
		</div>
	</div>
</div>

<% include('../common/footer_passport') %>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/shop.register.js"></script>
<script type="text/javascript">
$(function() {
	ShopRegisterEvent.bindEvents();
});
</script>
<% include('../common/end') %>