<% include('common/begin') %>
<% include('common/header') %>

<%
var keywords = homepageConfig.mobile.keywords,
	placeholder = keywords.length > 0 ? keywords[0] : '请输入商品名称';
%>
<div class="wd640">
	<header>
		<div class="header clearfix">
			<div class="sc-ipt">
				<span class="srcIpt"><input type="text" id="searchInput" placeholder="<%=placeholder%>"/><i class="srcClose"></i></span>
				<a href="javascript:void(0)" class="srico2" onclick="doSearch()">搜索</a>
			</div>
		</div>
	</header>
	<h2 class="sc-h2">热门搜索</h2>
	<div class="somekw">
		<% for (var i = 1; i < keywords.length; ++i) { %><a href="search.html?q=<%=encodeURIComponent(keywords[i])%>"><%=keywords[i]%></a><% } %>
	</div>
</div>

<% include('common/footer') %>
<script type="text/javascript" src="js/shop.popup.js"></script>
<script type="text/javascript" src="js/shop.search.js"></script>
<script type="text/javascript">
var isWeixin = <%=#_isWeixin?'true':'false'%>;
var isDefaultPage = true;
</script>
<% include('common/end') %>