<% include('../common/begin') %>
<% include('../common/header') %>

<div class="wd640">
	<% if (!_isWeixin) { %>
	<header>
		<div class="header clearfix">
			<a href="javascript:void(0)" class="sc-prev" onclick="return historyBack()">&nbsp;</a>
			注册领取
		</div>
	</header>
	<% } %>
	<div class="p15" <%=#_isWeixin?'style="margin-top:25px"':''%> >
		<form>
			<dl class="ipt-dl" style="margin-bottom:0">
				<dd><input type="text" name="login" class="ipt" placeholder="请输入您的手机号码" id="bdPhone" tabindex="1" value="<%=mobile%>"/></dd>
				<dd>
					<div class="syzm">
						<span class="smipt"><input type="text" name="mobileCode" class="ipt" placeholder="请输入收到的短信验证码" tabindex="2" id="bdVcode"/></span>
						<a href="javascript:void(0)" class="sendM" id="btnSendYzm" onclick="sendYzm('signup')">发送验证码</a>
					</div>
				</dd>
				<dd class="pre"><input type="password" name="password" class="ipt password" placeholder="设置密码，6-16位数字、字母的任意组合" id="bdPassw" tabindex="3"/><i class="eyeClose"></i></dd>
			</dl>
			<p class="light-grey mb5"><input id="regAgreement" type="checkbox" class="check" onclick="handleRegAgreementClick(this)"><label for="regAgreement" class="btn">本人已阅读、理解并同意</label><a href="passport-signup-agreement.html" class="red btn">《会员注册协议》</a></p>
			<p><a href="javascript:void(0)" class="btnL disabled" onclick="regsiterForCouponSub()" id="btnSignup">注册领取</a></p>
		</form>
	</div>
</div>

<% include('../common/footer_simple') %>
<script type="text/javascript" src="js/shop.popup.js"></script>
<script type="text/javascript" src="js/shop.passport.js"></script>
<script type="text/javascript">
	function regsiterForCouponSub() {
		if (!regAgreed) return;

		var bdPhone = $("#bdPhone"),
				bdVcode = $("#bdVcode"),
				bdPassw = $("#bdPassw");
		/*手机号*/
		var mobile = $.trim(bdPhone.val());
		if (!mobile) {
			ShopPopup.toast('请输入手机号');
			bdPhone.focus();
			return;
		}
		if (!validateMobile(mobile)) {
			ShopPopup.toast('您输入的号码有误，请重新输入');
			bdPhone.focus();
			return;
		}
		/*手机验证码*/
		var mobileCode = $.trim(bdVcode.val());
		if (!mobileCode) {
			ShopPopup.toast('请输入手机验证码');
			bdVcode.focus();
			return;
		}
		if (mobileCode.length !== 6) {
			ShopPopup.toast('您输入的手机验证码有误，请重新输入');
			bdVcode.focus();
			return;
		}
		/*密码*/
		var password = $.trim(bdPassw.val());
		if (!password) {
			ShopPopup.toast('请输入密码');
			bdPassw.focus();
			return;
		}
		if (bdPassw.val().length < 6) {
			ShopPopup.toast('密码长度不能小于6位，请重新输入');
			bdPassw.focus();
			return;
		}

		var $me = $(this), opType = 'user_register';
		if (!ButtonLock.acquire($me, opType)) {
			return false;
		}

		$.ajax({
			method: "POST",
			url: "/wap/coupon/register",
			data: {
				mobile: mobile,
				password: password,
				mobileCode: mobileCode
			},
			dataType: "json"
		}).done(function(json) {
			if (json.success) {
				var redirectUrl = json.data.redirectUrl;
				if(redirectUrl && redirectUrl.indexOf('member.html') === -1) {
					/*注册成功返回领取优惠券页面*/
					window.location.href = redirectUrl;
				} else if (json.data.loggedIn) {
					/* 如果注册并登录成功，跳转到个人中心页面*/
					window.location.href = "member.html?from=register";
				} else {
					window.location.href = "passport-login.html";
				}
			} else {
				ShopPopup.toast(json.error.message);
			}
		}).always(function(){
			ButtonLock.release($me, opType);
		});
	}
</script>
<% include('../common/end') %>