<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="applicable-device" content="mobile"/>
<title><%=title%></title>
<%if (_seo && _seo.metaKeywords) {%><meta name="keywords" content="<%=_seo.metaKeywords%>"/><%}%>
<%if (_seo && _seo.metaDescription) {%><meta name="description" content="<%=_seo.metaDescription%>"/><%}%>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-touch-fullscreen" content="yes"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="css/reset.css"/>
<link rel="stylesheet" href="css/style.css"/>