<div class="ftlink clearfix">
	<h2 class="fl"><img src="<%=#staticImgWeb('ftlogo.jpg')%>" alt="" title=""/></h2>
	<div class="ftAtt fl clearfix">
		<dl>
			<dt>新手指南</dt>
			<dd><a href="help-101.html" target="_blank">购物流程</a></dd>
			<dd><a href="help-102.html" target="_blank">支付方式</a></dd>
			<dd><a href="help-103.html" target="_blank">通关税费</a></dd>
			<dd><a href="help-104.html" target="_blank">常见问题</a></dd>
		</dl>
		<dl>
			<dt>售后服务</dt>
			<dd><a href="help-201.html" target="_blank">退货政策</a></dd>
			<dd><a href="help-202.html" target="_blank">退货流程</a></dd>
			<dd><a href="help-203.html" target="_blank">退款说明</a></dd>
		</dl>
		<dl>
			<dt>物流配送</dt>
			<dd><a href="help-301.html" target="_blank">配送方式</a></dd>
			<dd><a href="help-302.html" target="_blank">运费说明</a></dd>
			<dd><a href="help-303.html" target="_blank">物流跟踪</a></dd>
		</dl>
		<dl>
			<dt>关于我们</dt>
			<dd><a href="help-401.html" target="_blank">蚂蚁海购</a></dd>
			<dd><a href="help-402.html" target="_blank">联系我们</a></dd>
			<dd><a href="help-403.html" target="_blank">诚聘英才</a></dd>
			<dd><a href="help-404.html" target="_blank">服务声明</a></dd>
		</dl>
	</div>
	<img src="<%=#staticImgWeb('2dcode-wx.jpg')%>" alt="" title="" class="ftsao"/>
</div>
<div class="copy grey">
	<span class="fr knet-icon"><a href="https://ss.knet.cn/verifyseal.dll?sn=e15041433040058348zide000000&ct=df&a=1&pa=0.5964561491273344" target="_blank"><img src="images/ftico4.jpg" alt="" title=""/></a></span>
	浙ICP备14040173号-2&nbsp; | &nbsp;mayihg.com 版权所有@2014-2016&nbsp;&nbsp;
	<a href="#" target="_blank">隐私政策</a>&nbsp; | &nbsp;友情链接：<a href="#" target="_blank">军蚁科技</a> <span class="cnzz"></span>
</div>