<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta charset="utf-8"/>
<title><%=title%></title>
<meta content="telephone=no" name="format-detection"/>
<meta content="email=no" name="format-detection"/>
<%if (_seo && _seo.metaKeywords) {%><meta name="keywords" content="<%=_seo.metaKeywords%>"/><%}%>
<%if (_seo && _seo.metaDescription) {%><meta name="description" content="<%=_seo.metaDescription%>"/><%}%>
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="shortcut icon" href="/favicon.ico"/>
<link rel="stylesheet" href="css/common.css" type="text/css"/>
<link rel="stylesheet" href="css/style.css" type="text/css"/>