<!--footer-->
<div id="footer">
	<div class="wd1090">
		<ul class="ftlist clearfix">
			<li>
				<i class="ftico1"></i>
				<p class="red f18">100%正品保证</p>
				<p class="grey">蚂蚁海购  诚信经营</p>
			</li>
			<li>
				<i class="ftico2"></i>
				<p class="red f18">100%海外货源</p>
				<p class="grey">海外直邮  保税仓储</p>
			</li>
			<li>
				<i class="ftico3"></i>
				<p class="red f18">7天无忧退货</p>
				<p class="grey">国内退货  售后无忧</p>
			</li>
		</ul>
		<% include('./_footer_help') %>
	</div>
</div>
<!--goTop-->
<a href="javascript:void(0)" id="goTop">回到顶部</a>

<script type="text/javascript" src="js/lib/jquery.min.1.9.1.js"></script>
<script type="text/javascript" src="js/lib/es5-shim.min.js"></script>
<script type="text/javascript" src="js/normal.js"></script>