</head>
<!-- HACK: add onunload to body, see http://stackoverflow.com/questions/158319/cross-browser-onload-event-and-the-back-button -->
<body onunload="">
<!--head-->
<div id="head" class="wd1090 clearfix">
	<h1 class="fl"><a href="/"><img src="<%=#staticImgWeb('logo.jpg')%>" alt="" title=""/></a></h1>
	<span class="ltip"><%=welcomeMsg%></span>
	<div class="logtop">
		<ul class="ftlist clearfix">
			<li>
				<i class="ftico1"></i>
				<p class="red f16">100%正品保证</p>
				<p class="grey f12"><%=siteName%>  诚信经营</p>
			</li>
			<li>
				<i class="ftico2"></i>
				<p class="red f16">100%海外货源</p>
				<p class="grey f12">海外直邮  保税仓储</p>
			</li>
			<li>
				<i class="ftico3"></i>
				<p class="red f16">7天无忧退货</p>
				<p class="grey f12">国内退货  售后无忧</p>
			</li>
		</ul>
	</div>
</div>