<table width="100%" cellspacing="0" cellpadding="0" class="afterTab">
    <tr>
        <th width="100">订&ensp;单&ensp;号：</th>
        <td width="280"><%=#order.orderNo %></td>
        <th width="100">订单金额：</th>
        <td><span class="red">¥<%=#formatMoney2((order.totalFee || 0) + (order.adjustFee || 0)) %></span></td>
    </tr>

    <tr>
        <th >订单状态：</th>
        <td><%=#order_util.renderSimpleOrderStatus(order.orderStatus) %></td>
        <th >结算状态：</th>
        <td><%=#(order.orderStatus == 'CANCELLED' ? '未结算' :order_util.renderSimpleSettleStatus(order.commissionSettleStatus)) %></td>
    </tr>

    <tr>
        <th>下单时间：</th>
        <td><%=#formatDate(order.orderTime, 'YYYY-MM-DD HH:mm:ss')  %></td>
        <th>完成时间：</th>
        <td><%=#formatDate(order.closeTime, 'YYYY-MM-DD HH:mm:ss')  %></td>
    </tr>

    <%if (commissionType == 'direct') {%>
    <tr>
        <th>推&ensp;广&ensp;员：</th>
        <td><%=#order.promoterLogin%><%=#order.promoterName?"("+order.promoterName+")":""%></td>
        <th>推广员返佣：</th>
        <td>¥<%=#formatMoney2(order.totalPromoterCommission)%></td>
    </tr>
    <% } else if (commissionType == 'indirect') {%>
    <tr>
        <th>收&ensp;货&ensp;人：</th>
        <td><%=order.address.consignee%></td>
        <th>收货区域：</th>
        <td><%=#order.address.state%> <%=#order.address.city%> <%=#order.address.county%></td>
    </tr>
    <% } %>
</table>
<table cellpadding="0" cellspacing="0" width="100%" class="odrtab brd">
    <tr>
        <th width="325">商品信息</th>
        <th width="100">商品单价</th>
        <th width="90">数量</th>
        <th width="80">小计</th>
        <th width="90">促销类型</th>
        <th>返佣金额</th>
    </tr>
</table>
<div class="s-order-detail-table">
    <table cellpadding="0" cellspacing="0" width="100%" class="odrtab">
        <%
        if (order.items && order.items.length) {
          for (var i = 0, len = order.items.length; i < len; i++) {
            var item = order.items[i];
        %>
        <tr>
            <td width="325" class="tleft">
                <div class="plr15 clearfix">
                    <span class="picImg fl">
                        <img src="<%=#imageUrl(item.skuImageUrl, 46, 46) %>" title="<%=item.skuName %>">
                    </span>
                    <div class="txtwrap">
                        <span class="gdsTit" title="<%=item.skuName %>"><%=item.skuName %></span>
                    </div>
                </div>
            </td>
            <td width="100">¥<%=#formatMoney2(item.payPrice) %></td>
            <td width="90"><%=#item.quantity %></td>
            <td width="80">¥<%=#formatMoney2(item.totalFee) %></td>
            <td width="90"><%=#item.activityLabel %></td>
            <td>
                <% if (commissionType == 'promoter') {%>
                    ¥<%=#formatMoney2((item.promoterCommission || 0.00) * (item.quantity || 0)) %>
                <% } else if (commissionType == 'direct') {%>
                    ¥<%=#formatMoney2((item.distCommission || 0.00) * (item.quantity || 0)) %>
                <% } else if (commissionType == 'indirect') {%>
                    ¥<%=#formatMoney2((item.indirectCommission || 0.00) * (item.quantity || 0)) %>
                <% } %>
            </td>
        </tr>
        <%
          }
        } else {
        %>
        <tr>
            <td colspan="6" style="text-align: center;">商品清单为空</td>
        </tr>
        <%
        }
        %>
    </table>
</div>
<p class="yjright">我的返佣（合计）：<span class="red">¥<%=#formatMoney2(commissionType == 'promoter' ? order.totalPromoterCommission : order.totalDistCommission) %></span></p>